<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
<div th:include="common/header"></div>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend></legend>
</fieldset>

<form class="layui-form" action="">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">中文名称</label>
            <div class="layui-input-inline">
                <input type="tel" name="id" th:if="${freeGameDTO != null}" th:value="${freeGameDTO.id}" hidden autocomplete="off">
                <input type="tel" name="chineseName" th:if="${freeGameDTO != null}" th:value="${freeGameDTO.chineseName}" autocomplete="off" class="layui-input">
                <input type="tel" name="chineseName" th:if="${freeGameDTO == null}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">英文名称</label>
            <div class="layui-input-inline">
                <input type="text" name="englishName" th:if="${freeGameDTO != null}" th:value="${freeGameDTO.englishName}" autocomplete="off" class="layui-input">
                <input type="text" name="englishName" th:if="${freeGameDTO == null}" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">最近评价</label>
            <div class="layui-input-inline">
                <input type="tel" name="assess" th:if="${freeGameDTO != null}" th:value="${freeGameDTO.assess}" autocomplete="off" class="layui-input">
                <input type="tel" name="assess" th:if="${freeGameDTO == null}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">全部评价</label>
            <div class="layui-input-inline">
                <input type="text" name="allAssess" th:if="${freeGameDTO != null}" th:value="${freeGameDTO.allAssess}" autocomplete="off" class="layui-input">
                <input type="text" name="allAssess" th:if="${freeGameDTO == null}" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">发售日期</label>
            <div class="layui-input-inline">
                <input type="tel" name="saleDate" th:if="${freeGameDTO != null}" th:value="${freeGameDTO.saleDate}" autocomplete="off" class="layui-input">
                <input type="tel" name="saleDate" th:if="${freeGameDTO == null}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline">
                <input type="text" name="type" th:if="${freeGameDTO != null}" th:value="${freeGameDTO.type[0]}" autocomplete="off" class="layui-input">
                <input type="text" name="type" th:if="${freeGameDTO == null}" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">厂商</label>
            <div class="layui-input-inline">
                <select name="factory" lay-verify="required" lay-search="">
                    <option th:if="${freeGameDTO != null}" th:value="${freeGameDTO.factory}">[[${freeGameDTO.factory}]]</option>
                    <option th:if="${freeGameDTO == null}" value=""></option>
                    <option value="Epic">Epic</option>
                    <option value="Steam">Steam</option>
                    <option value="Origin">Origin</option>
                    <option value="Uplay">Uplay</option>
                    <option value="HB">HB</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">语言</label>
            <div class="layui-input-inline">
                <select name="language" lay-verify="required" lay-search="">
                    <option th:if="${freeGameDTO != null}" th:value="${freeGameDTO.language}">[[${freeGameDTO.language}]]</option>
                    <option th:if="${freeGameDTO == null}" value=""></option>
                    <option value="简体中文">简体中文</option>
                    <option value="繁体中文">繁体中文</option>
                    <option value="无中文">无中文</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">现价</label>
            <div class="layui-input-inline">
                <input th:if="${freeGameDTO != null}" th:value="${freeGameDTO.newPrice}" name="newPrice" autocomplete="off" class="layui-input">
                <input th:if="${freeGameDTO == null}" name="newPrice" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">原价</label>
            <div class="layui-input-inline">
                <input th:if="${freeGameDTO != null}" th:value="${freeGameDTO.price}" type="text" name="price" autocomplete="off" class="layui-input">
                <input th:if="${freeGameDTO == null}" type="text" name="price" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">标签</label>
            <div class="layui-input-inline">
                <input type="tel" name="tag[]" th:if="${freeGameDTO != null}" th:value="${freeGameDTO.tag[0]}" autocomplete="off" class="layui-input">
                <input type="tel" name="tag[]" th:if="${freeGameDTO == null}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" th:switch ="${freeGameDTO != null and #lists.size(freeGameDTO.tag) gt 1}">
                <input type="text" name="tag[]" th:case="true" th:value="${freeGameDTO.tag[1]}" autocomplete="off" class="layui-input">
                <input type="text" name="tag[]" th:case="false" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" th:switch = "${freeGameDTO != null and #lists.size(freeGameDTO.tag) gt 2 }">
                <input type="text" name="tag[]" th:case="true" th:value="${freeGameDTO.tag[2]}" autocomplete="off" class="layui-input">
                <input type="text" name="tag[]" th:case="false"  autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">首页图片</label>
        <div class="layui-input-block">
            <input type="text" name="rowImage" th:if="${freeGameDTO != null}" th:value="${freeGameDTO.rowImage}" autocomplete="off" class="layui-input">
            <input type="text" name="rowImage" th:if="${freeGameDTO == null}" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">轮播图</label>
        <div class="layui-input-block">
            <input type="text" name="images[]" th:if="${freeGameDTO != null}" th:value="${freeGameDTO.images[0]}" autocomplete="off" class="layui-input">
            <input type="text" name="images[]" th:if="${freeGameDTO == null}" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block" th:switch = "${freeGameDTO != null and #lists.size(freeGameDTO.images) gt 1}">
            <input type="text" name="images[]" th:case="true" th:value="${freeGameDTO.images[1]}" autocomplete="off" class="layui-input">
            <input type="text" name="images[]" th:case="false"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block" th:switch = "${freeGameDTO != null and #lists.size(freeGameDTO.images) gt 2}">
            <input type="text" name="images[]" th:case="true" th:value="${freeGameDTO.images[2]}" autocomplete="off" class="layui-input">
            <input type="text" name="images[]" th:case="false"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block" th:switch = "${freeGameDTO != null and #lists.size(freeGameDTO.images) gt 3}">
            <input type="text" name="images[]" th:case="true" th:value="${freeGameDTO.images[3]}" autocomplete="off" class="layui-input">
            <input type="text" name="images[]" th:case="false"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea name="content" th:if="${freeGameDTO != null}" th:text="${freeGameDTO.content}" class="layui-textarea"></textarea>
            <textarea name="content" th:if="${freeGameDTO == null}" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form;

        //监听提交
        form.on('submit(demo1)', function(data){
            $.ajax({
                url: ctxPath + 'freeGame/insert',
                type: 'post',
                data: data.field,
                success: function () {
                    parent.layui.table.reload('test-table-page', {});
                    parent.layer.closeAll();
                }
            })
            return false;
        });
    });
</script>

</body>
</html>
